@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import "~node_modules/vanilla-cookieconsent/dist/cookieconsent.css";

html,
body {
  position: fixed;
  padding: 0;
  margin: 0;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  z-index: 1;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Courier New,
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  font-weight: 400;
}
