@import "vanilla-cookieconsent/dist/cookieconsent.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html,
  body {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
  }
  * {
    box-sizing: border-box;
  }

  #__next {
    height: 100%;
  }

  main {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    z-index: 1;
    overflow: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: 400;
  }
}

/* Navigation toggle */
.nav-toggle {
  width: 28px;
  height: 18px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 999;

  > span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 8px;
    }

    &:nth-child(4) {
      top: 16px;
    }
  }

  &.open span {
    &:nth-child(1) {
      top: 14px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: 14px;
      width: 0%;
      left: 50%;
    }
  }
}

@layer components {
  .button {
    @apply cursor-pointer text-lg rounded-sm transition-all duration-200 h-12 py-2 px-6;
  }

  .primary-button {
    @apply button bg-amber-300 hover:bg-amber-400 text-black;
  }
  .secondary-button {
    @apply button bg-white hover:bg-gray-100 text-black;
  }
}
